<div class="contenedorPorque imgPorqueBack"style= "background-image: url('{{ content.field_porque_backgroung_image.0 }}')">
<h1 class="container tituloPorque"> {{content.field_porque_titulo_principal.0}} </h1>
<div class="container card-deck " >
  <div class="card">
    <img class="card-img-top imgCard" src="{{content.field_porque_punto_1img.0}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title subTituloPorque">{{content.field_porque_punto_1.0}}</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top imgCard" src="{{content.field_porque_punto_2img.0}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title subTituloPorque">{{content.field_porque_punto_2.0}}</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top imgCard" src="{{content.field_porque_punto_3img.0}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title subTituloPorque">{{content.field_porque_punto_3.0}}</h5>
    </div>
  </div>
</div>
</div>



